@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg:#A1DD70;
    --green:#7ed957;
    --dark-green:#799351;
    --btn:#006769;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* For Firefox */
.scrollbar-hide {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
}

